body {
   background: black;
}
article {
    position: relative;
    overflow: hidden;
    padding: 20px;
    background: black;
    margin: 50px auto;
    width: 70%; 
    border: 2px solid white ;
    border-radius: 10px;
    box-shadow: 0 0 4px white;
    color: blue;
    text-align: center;
}
h1{
    position: relative;
    text-align: center;
    background: #636052 ;
}
h2{
    position: relative;
    text-aling: center;
    background: #636052;
}
